.textArea {
  display: flex;
  flex-direction: column;
  border-style: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
  text-indent: 5px;
  padding-top: 5px;
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}

.textArea:focus {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(123, 123, 123, 0.103);
  outline: none; /* make sure no outline shows */
}

.textAreaLabel {
    margin-bottom: 5px;
    font-size: 0.9rem;
  font-weight: bold;
    font-family: var(--font-myfont), sans-serif; 
  color: #6b6b6b;
}

.wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
