

.textInputContainer {
    margin-top: 10px;
/*   border-width: 1px;
  border-style: solid;
  border-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 2px
  
}

.textInputLabel {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #6b6b6b;
  font-family: var(--font-myfont), sans-serif; 
  
}

.textInput {
  
  border-style: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  text-indent: 5px;
}


.textInput:focus {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(123, 123, 123, 0.103);
  outline: none; /* make sure no outline shows */
}