.createPostContainer {
  border-style: solid;
  border-color: white;
  border-width: 12px;
  border-radius: 2rem;
  background-color: #ffffffff;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column
}

.saveDraftButton {
  margin-left: auto
}

.buttonContainer {
  display: flex;
  align-items: center;
  border: 2px solid red;
  gap: 10px
}
