.sidebar {
  position: fixed;
  top: 7vh;
  left: 0; /* always anchored */
  transform: translateX(-100%); /* hidden off screen */
  width: 15vw; /* default width for desktop */
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  transition: transform 0.3s ease-in-out; /* smooth slide */
  padding: 1rem;
  z-index: 1000;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar.open {
  transform: translateX(0); /* slide in */
}

.sidebarLink {
  font-size: 1.5rem;
  list-style-type: none;
}

/* default link */
.sidebarLink a:link {
  color: rgb(166, 166, 166);
  text-decoration: none;
}

/* visited link */
.sidebarLink a:visited {
  color: purple; /* change to whatever you want */
}

/* hover */
.sidebarLink a:hover {
  color: orange;
}

/* active (when clicked) */
.sidebarLink a:active {
  color: red;
}



/* Mobile: make sidebar full width */
@media (max-width: 768px) {
  .sidebar {
    width: 100vw;
  }
}
